<footer>
    <div class="footer-links">
        <ul>
            <li><a routerLink="/">About Us</a></li>
            <li><a routerLink="/">Contact Us</a></li>
            <li><a routerLink="/">Terms & Condition</a></li>
            <li><a routerLink="/">Privacy Policy</a></li>
            <li><a routerLink="/">FAQ's</a></li>
        </ul>
    </div>
    <div class="footer-info">
        <p>&copy; 2024 S. I. Electricals. All Right Reserved ..||..   Developed by <a href="https://www.instagram.com/_washim_45" target="_blank" style="text-decoration: none;">Er. Washim Akram</a></p>
    </div>
</footer>