div {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 8rem;
    background-image: linear-gradient(to bottom, #ffffff, #cac7c7);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2a2828;
    color: #fff;
    cursor: pointer;
    font-weight: 800;
    font-size: 18px;
}

button:hover {
    background-color: #5b5a58;
}

.message {
    text-align: center;
    color: #251ef6;
}
.register-link{
    margin-top: 20px;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: #1e29f6;
}