<div class="product-list">
    <div *ngFor="let product of products" class="product-item">
        <div (click)="goToProductDetailsPage(product.id)">
            <img [src]="product.imageUrl" [alt]="product.name">
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
            <span>Rs. {{product.price}}</span>
        </div>

        <ng-container *ngIf="inInCart(product); else addToCartBtn">
            <div class="quantity-controls">
                <button (click)="decrementItem(product)">-</button>
                <span>{{getCartItem(product)?.quantity}}</span>
                <button (click)="incrementItem(product)">+</button>
            </div>
        </ng-container>

        <ng-template #addToCartBtn>
            <button (click)="addToCart(product)">Add To Cart</button>
        </ng-template>
        <div>
            <button (click)="goToCart()">Go to Cart</button>
        </div>
    </div>
</div>